




{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Quest Post</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styleLand.css' %}">

    </head>
    <body>

        <header class="header">

            <nav class="navbar">
                <a href="{% url 'about' %}"><button class= "navbutton">About</button></a>
                <a href="{% url 'LandingPage' %}"><button class= "navbutton">Home</button></a>
                <a href="{% url 'contact_us' %}"><button class= "navbutton">Contact us</button></a>
        </nav>

        </header>




         <script>
            function showAlert() {
                alert("This function is currently unavailable.");
            }

         </script>
        
        <div class="indContainer">
            <div class="leftCont">
            <img name="logo" id="logo" src="{% static 'images/Title&Logo.png' %}" alt="Logo">
            <div class="profileBox">
                <h3 class="greetings">WELCOME!</h3> <h1 class="greetings" id="greetings_fname">{{ user.first_name }}</h1>
                <!-- <hr name="greetingsLine" id="greetingsLine"> -->
                <div class="magicoin-container">
                    <img src="{% static 'images/magicoin.png' %}" alt="magicoin">
                    <span class="coin-count">69</span>
                </div>
                
                <div class="button-container">
                    <div>
                        <button class="circular-button" type="submit" ><a href="/signout">Sign out</a></button>
                    </div>
                    <div>
                        <button class="circular-button" type="submit" onclick="showAlert()">Profile Logs</button>
                    </div>
                </div>   
            </div>
            </div>
            <div class="mission-desc">
                <div class="mission-container">
                
                        <form method="POST" class="post-form">
                            {% csrf_token %}
                            <div class="form-group">
                     
                                <!-- Apply unique class or ID to the title text area -->
                                <div class="quest-container">
                                    <span class="quest-title">Quest Title</span>
                                    <textarea name="title" id="id_title" class="form-input title-textarea"></textarea>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <textarea name="body" id="id_body" class="form-input"></textarea>
                            </div>

                            <div class="button-container">
                                <div class="left-button">
                                    <a href="{% url 'LandingPage' %}"><span id="cancel">Cancel</span></a>
                                </div>
                                <div class="right-button">
                                    <button type="submit" class="post-button right-button" href="{% url 'LandingPage' %}">Submit</button>
                                </div>
                            </div>
                            
                        </form>

                        </div>
                    
                    </div>
                </div>      
                <ul>
                    {% for mission in object_list %}
                    <li>
                        <a href="{% url 'mission-details' pk=mission.pk %}">
                            <button class="mission-boxes">
                                <div class="username">{{ mission.author.username }}</div>
                                <div class="title">{{ mission.title }}</div>
                            </button>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
        

        
        

        <script src="" async defer></script>
    </body>
</html>
